<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "render_simarea" %>

<table border="true">
  <% for y in 0..@simarea.height %>
  <tr>
    <% for x in 0..@simarea.width %>
    <td>X</td>
    <% end %>
  </tr>
  <% end %>
</table>


